.reelText {
  position: absolute;
  padding-left: 8%;
  padding-top: 2%;
  color: white;
  font-size: 22px;
}

.blockRelativReel {
  position: relative;
  margin-top: 10px;
}

.classReel {
  display: flex;
    height: 450px;
}

.classReelBlock {
  position: absolute;
  display: flex;
  top: 25%;
  gap: 3%;
  margin: 0 8%;
}

@media (max-width: 500px) {
  .classReelBlock {
    flex-direction: column;
    margin: 0 0;
    top: 25%;
    gap: 0;
  }
}

@media (max-width: 576px) {
  
  .classReel {
    display: flex;
    /* height: 1500px; */
  }
}
@media (max-width: 768px) {
  .classReel {
      display: none;
    
  }
  .classReelBlock {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .blockRelativReel {
    position: relative;
    margin-top: 30px;
  }
  .reelText {
    position: relative;
     color: rgb(17, 17, 17);  
  }
}