.reelText {
  /* position: absolute; */
  padding-left: 8%;
  padding-top: 2%;
  color: rgb(218, 10, 10);
  font-size: 22px;
  /* border: 2px solid red; */
}

.blockRelativReel {
  /* position: relative; */
  /* margin-top: 10px; */
  /* border: 2px solid rgb(22, 220, 12); */
  background-image: url(../images/reelFont1.jpg);
  background-size: cover;
}

.classReelBlock {
  /* position: absolute; */
  display: flex;
  top: 25%;
  gap: 3%;
  margin: 0 8%;
}

@media (max-width: 500px) {
  .classReelBlock {
    flex-direction: column;
    margin: 0 0;
    top: 25%;
    gap: 0;
  }
}

@media (max-width: 576px) {
  
  .classReel {
    display: flex;
    /* height: 1500px; */
  }
}
@media (max-width: 768px) {
  .classReel {
      display: none;
    
  }
  .classReelBlock {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .blockRelativReel {
    position: relative;
    margin-top: 30px;
  }
  .reelText {
    position: relative;
     color: rgb(17, 17, 17);  
  }
}