.classReel{
/* background-image: linear-gradient(rgba(0, 0, 0, 0.822));
filter: drop-shadow(0 12px 10px rgba(0,0,0,.5));
box-shadow: 0 0 15px rgba(0,0,0,.5); */
box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}