
.newsBlock{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* height: 350px; */
    margin: 10px 120px;
    }
    /* .newsBlockTemplate{
    
    } */
    @media (max-width: 1200px) {
        .newsBlock{
            margin: 0 0;
    }
    
    }
    