
.newsBlock{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin: 10px 120px;
    }

    @media (max-width: 1200px) {
        .newsBlock{
            margin: 0 0;
    }
    
    }
    