* {
  padding: 0;
  margin: 0;
}


.classBlockText{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.classTitle {
  color: rgb(47, 47, 46);
}

.classText {
  font-size: 17px;
  text-transform: uppercase;
  color: rgb(75, 74, 74);
  padding-left: 10px;
  border-left: 2px solid blue;
}

@media (max-width: 1200px) {
  .newsBlockTemplate {
    padding: 0px;
  }
}
@media(max-width: 768px) {
  .newsBlockImg{
    display: none;
  }
  .classBlockText{
    height: 40px;
    margin-top: 10px;
     }
  .classText{
     font-size: 10px;
  }
  .classDescription{
    display: none;
  }
  .newsBlockTemplate{
    padding-left: 50px;
  }
}

